body {
    font-family: 'Verdana', arial, serif;
    margin: auto;
    width: 600px;
    background: #0a191c;
    font-size: 10pt;
}

/***
 *** General shape of elements
 ***/

h1, h2, h3, h4, h5 {
    font-family: 'Josefin Slab', arial, serif;
    padding: 10px;
    padding-top: 18px;
    padding-bottom: 8px;
    color: #98daf2;
}
h1 {
    background: #0b1b1e;
    background: #081416;
    color: #5acbf3;
    padding: 20px;
    font-size: 30px;
}
h2 {
    font-size: 24px;
    color: #5acbf3;
}
h3 {
    font-size: 20px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 150%;
    color: #8899aa;
}

ul, ol {
    padding-bottom: 20px;
    color: #8899aa;
}

pre {
    padding-bottom: 20px;
}

a {
    color: #eee;
    text-decoration: none;
    border: none;
}

em {
    color: #fff;
    font-weight: bold;
}

strong {
    color: #fff;
}

code {
    color: #fff;
}

/***
 *** Layout of document title
 ***/

div.title {
    width: 600;
}

img.logo {
    margin-top: 40px;
    margin-left: 80px;
}

p.links {
    font-family: 'Josefin Slab', arial, serif;
    font-size: 16pt;
    text-align: center;
    color: #5acbf3;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

